<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333;">
    <div style="width: 100%; max-width: 600px; margin: 0 auto;">
        <p>Dear {{ name }},</p>
        <p>We have received a request for resetting your account password. Click on the below link to reset your password.</p>
        <p>
            <!-- This link points to the Web Page (reset-landing.html) -->
            <a href="{{ activate_url }}" style="color: #fff; background-color: #007BFF; border-radius: .25rem; text-decoration: none; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; display: inline-block;">Reset Password</a>
        </p>
        <p>If the button above doesn't work, please copy and paste the following URL into your browser:</p>
        <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
        <br/>
        <i>If you do not make this request, then ignore this mail, and you do not have to do anything.</i>
        <br/>
        <p>Thank you for choosing us!</p>
        <p>Best Regards,<br>{{ app_name }}</p>
    </div>
</body>
</html>